
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, footer {
    font-family: "Poppins", sans-serif;
    color: #8c8c8c;
    background: #fff;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1.5rem 0;        
  background-color: #fff; 
  border-bottom: 2px solid #e5e5e5;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.logo img {
  display: block;
  align-items: center;
  padding-top: 4px;
}

/* MENU */
.menu {
  display: flex;
  gap: 2rem; 
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: black;         
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 2px;
  transition: color 0.3s ease;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: #000;
  transition: width 0.3s ease;
}

.menu a:hover::after {
  width: 100%;
}

.menu a.active {
  font-weight: 600;
}

.menu a.active::after {
  width: 100%;
}

/* FORM */
form {
  background: linear-gradient(
    180deg,
    #fdecec 0%,
    #e6e6e6 50%,
    #c7d3d6 100%
  );
  padding: 3rem 2.5rem;
  border-radius: 12px;
}

.form-label {
  font-size: 0.7rem;
  letter-spacing: 3px;
  color: #666;
}

.form-control {
  border-radius: 6px;
  border: 1px solid #444;
  padding: 0.75rem;
  font-size: 0.9rem;
}

.form-control:focus {
  border-color: #000;
  box-shadow: none;
}

/* BUTTON */
.btn.cta-btn {
  background-color: #fdecea; 
  color: #5f5f5f;
  border: 1px solid #666;
  box-shadow: #666 2px 2px 8px;
  margin-top: 3rem;
  padding: 1rem 3rem;
  font-size: 14px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
}

.btn.cta-btn:hover {
  background-color: #f9d6d2;
  color: #3f3f3f;
}

.btn.cta-btn:active {
  transform: scale(0.97);
}


/* FOOTER */
.footer {
    padding: 60px;
    font-size: 14px;
    background:#f5f5f5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.footer-right {
    text-align: right;
}

.footer-bottom {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
}

#github, #linkedin, .fa-envelope {
    font-size: 30px;
    color: #666;
    text-decoration: none;
    transition: 0.3s;
}

#github:hover, #linkedin:hover, .fa-envelope:hover {
    color: #000;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .menu {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .menu a {
    padding-bottom: 1px;
  }

    .navbar {
        position: sticky;
        top: 0;
        gap: 20px;
        z-index: 2;
        background-color : #fff;
    }

}