
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #8c8c8c;
    background: #fff;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1.5rem 0;        
  background-color: #fff; 
  border-bottom: 2px solid #e5e5e5;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.logo img {
  display: block;
  align-items: center;
  padding-top: 4px;
}

/* MENU */
.menu {
  display: flex;
  gap: 2rem; 
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: black;         
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 2px;
  transition: color 0.3s ease;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: #000;
  transition: width 0.3s ease;
}

.menu a:hover::after {
  width: 100%;
}

.menu a.active {
  font-weight: 600;
}

.menu a.active::after {
  width: 100%;
}

/* HERO */
.hero {
 padding: 120px 0;
 background: linear-gradient(
    180deg,
    #fdecec 0%,
    #e6e6e6 50%,
    #c7d3d6 100%
  );
}

.hero-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hero-text h1 {
    font-size: 72px;
    text-align: right;
    line-height: 1.2;
    color: #9a9a9a;
}

.hero-image img {
    width: 100%;
    max-width: 380px;
    border-radius: 0 0 0 50%;
    margin-right: 150px;
    box-shadow: #9a9a9a 5px 15px 2px;
    display: flex;
}

.cta {
    display: inline-block;
    margin-top: 50px;
    margin-left: 220px;
    padding: 20px 40px;
    background: #fdecea;
    border: #666 1px solid;
    box-shadow: #666 2px 2px 8px;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 4px;
    text-decoration: none;
    color: #666;
    transition: 0.3s;
}

.cta:hover {
    background: #f9d6d2;
    transform: translateY(-2px);
}

.hero-social a {
    font-size: 22px;
    color: black;
}

.hero-social {
    display: flex;
    margin-top: 32px;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

#github, #linkedin, .fa-envelope {
    font-size: 30px;
    color: #666;
    text-decoration: none;
    transition: 0.3s;
}

#github:hover, #linkedin:hover, .fa-envelope:hover {
    color: #000;
}

/* PROFILO */
.profilo {
    padding: 80px 60px;
}

.profilo h2 {
    font-size: 38px;
    color: #9a9a9a;
    margin-bottom: 20px;
}

.profilo .text p {
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0.03rem;
}

/* FORMAZIONE */
.formazione {
    padding: 40px 60px;
}

.formazione h2 {
    font-size: 38px;
    color: #9a9a9a;
    margin-bottom: 20px;
}

.formazione .item {
    margin-bottom: 30px;
}

.formazione .item h3 {
    font-size: 24px;
    color: #8c8c8c;
}

.formazione .item .date {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    margin-right: 10px;
}

.formazione .item p {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03rem;
}

.tags {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  list-style: none;
  padding: 0;
}

.tags li {
  background: #fdecea;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  white-space: nowrap;
}

/*ESPERIENZE PROFESSIONALI*/
.esperienze {
    padding: 40px 60px;
}

.esperienze h2 {
    font-size: 38px;
    color: #9a9a9a;
    margin-bottom: 20px;
}

.esperienze .item {
    margin-bottom: 30px;
}

.esperienze .item h3 {
    font-size: 24px;
    color: #8c8c8c;
}

.esperienze .item .date {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    margin-right: 10px;
}

.esperienze .item p {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03rem;
}

/* SEZIONE ICONE */
.social-box {
  background-color: #fdeceb;
  padding: 56px 0;
}

.social-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 24px;
}

.social-list a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 16px;
  color: #222;
  font-weight: 400;
  text-transform: lowercase;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.social-list i {
  font-size: 18px;
}

.social-list a:hover {
  transform: translateY(-2px);
  opacity: 0.7;
}

.social-list a:focus-visible {
  outline: 2px solid #999;
  outline-offset: 4px;
  border-radius: 4px;
}

.divider {
  width: 1px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.15);
}

/* FOOTER */
.footer {
    padding: 60px;
    margin-top: 0px;
    font-size: 14px;
    background:#f5f5f5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.footer-right {
    text-align: right;
}

.footer-bottom {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .menu {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .menu a {
    padding-bottom: 1px;
  }

  .cta {
    margin-left: 20px;
    text-align: center;
  } 

  .hero-flex {
    padding: 20px 20px;
    margin: 40px 70px;
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 52px;
    margin: 50px;
  }

  .hero-social {
        justify-content: center;
        margin-left: 0;
        align-items: center;
  }

  .social-list {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 24px;
  }

  .divider {
    display: none;
  }  

}

